 /* --/-- REGULAR BASE -- \--  */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .conteiner{
    width:60%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
 }

img {
    max-width: 100%;
    
}

.text-center{
  text-align: center;
}

 .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
 }

 .col{
    padding: 0 10px;
 }

 .col-grow{
    flex-grow: 1;
 }


/* --/-- BTN-- \--  */

.btn{
  font-size: 14px;
  font-weight: 500;
  padding:8px 16px;
  border-radius: 20px;
  background-color: white;
}
.btn-apple{
  background-color: #0084fd;
  font-size: 14px;
  letter-spacing: 3px;
  color: white;
  padding: 10px 55px;
  font-family: inherit;
  border-radius: 40px;
  font-weight: 700;
}
.btn-round{}
.btn-small{

  height:50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-large{}

button {
  border: none;
  background: none;
}

header .btn-tm {
  font-size: 25px;
  color: white;
  display: none;
}

/* --/-- TIPOGRAFY-- \--  */
body{
    font-family:"Pt Sans"; 
    line-height: 1.5;    
}



.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

#intro p{
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #5a6e7f;
}

#intro h3{
    font-family: inherit;
    font-weight: 700;
    color: #0084fd;
}

/* --/-- COLOR-- \--  */
.bg-blue{
    background-color: #0084fd;
}
.bg-lightblue{
    background-color: #b5ddff;
}
.bg-purple{
    background-color: #9792e4;
}

/* --/-- HEADER-- \--  */

header{

 padding: 15px 0;
margin-bottom: 50px;
}

nav{
  display: flex;
  align-items: center;
}

header .conteiner{
    display: flex;
    justify-content: space-between;
}

header .conteiner ul{
    list-style: none;
    display: flex;
    gap: 27px;
    align-items: center;
}

header .conteiner li a{
  color: white;
  font-size: 14px;
  font-family: inherit;
  text-decoration: none;
}


 /* --/-- SECTION INTRO -- \--  */
 #intro{
  padding-bottom: 40px;
 }
 #intro .col{
   width: calc(100% / 3);
   margin-bottom: 20px;
 }

 #intro .card{
  height: 100%;
  background-color: #b5ddff;
  padding: 30px 20px 0 20px;
  border-radius: 20px;
 }


#intro img{
  display: block;

}


#intro .btn-apple{
  display: flex;
  gap: 8px;
  align-items: center;
}
.col-grow .card{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.card-grow-left{
  width: 50%;
}

.col-grow .wrapper-img{
  padding-top: 70px;
  width: 50%;
}
.col-grow .wrapper-img .img{
  height: 270px;
}
.col-grow .wrapper-img .img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.col-grow button {
  color: white;
  font-size: 14px;
}

#intro .card.text-center i {
  font-size: 80px;
  color: #0084fd;
}

.padding-30 {
  padding-bottom: 30px;
}
#intro .col-grow{
  display: flex;
  flex-grow: 1;
}

/* #section card  partners  */
#partners{
  background: #9792E4;
  padding-top: 90px;
  padding-bottom: 50px;
  color: white;
}
#partners .conteiner{
  width: 50%;
}
#partners .col{
  width: calc(100% / 2);
}
#partners .col .img{
  display: flex;
  justify-content: start;
  padding-bottom: 25px;
}
#partners .col .img img{
  height: 100%;
  object-fit: contain;
}
#partners .col.right .img{
justify-content: center;
}

#partners .col .text h2{
  padding-top: 120px;
  padding-bottom: 40px;
  font-size: clamp(28px, 2.5vw, 45px); 
}
#partners .col.right{
  display: flex;
  align-items: end;
  text-align: center;
}
#partners .col .card{
  padding: 20px 30px;
  height: 70%;
  background-color: white;
  border-radius: 40px;
}
#partners .col .card.right .img img{
 height: 300px;
 object-fit: cover;
} 
#partners .right h2,
#partners .right p{
  color: black;
}
#partners .right h2{
  padding-bottom: 20px;
}
#partners .right p{
  padding-bottom: 30px;
}
.bg-purple{
  background-color: #9792E4;
}
.card .right {
  display: flex;
  justify-content: center;
}

/* id expert_partners  */
#expert_partners{
  padding-top: 60px;
  text-align: center;
  color: white;
  padding-bottom: 70px;
}
#expert_partners .col{
  width: 100%;
  margin-bottom: 30px;
}
#expert_partners .col .card{
  background-color: #9792e4;
  border-radius: 30px;
  padding:20px 35px 40px 10px ;
  display: flex;
  align-items: center;
  gap: 60px;
}

#expert_partners .card .img-left{
width: 200px;
height: 200px;
display: flex;
}
#expert_partners .card .img-left img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}

#expert_partners .card .text{
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
#expert_partners .text{
  color: black;
}
#expert_partners .text:nth-child(3){
  padding-bottom: 45px;
}
#expert_partners h2.text{
  font-size: 40px;
  color: #9792E4;
  padding-bottom: 45px;
}
/* # benefits  */
#benefits{
  padding-top: 70px;
  background-color: #9792E4;
  padding-bottom: 15px;
}
#benefits .row{
  margin-left: -15px;
  margin-right: -15px;
}
#benefits .col{
  width: calc(100% / 3);
  padding: 0 15px;
  margin-bottom: 30px;
}
#benefits .card.benefits{
  padding: 25px 35px 30px 30px;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
}
#benefits h3{
  color: #9792E4;
  padding-bottom: 15px;
}
#benefits .card p{
  text-align: left;
  padding-bottom: 24px;
}

.btn.benefit{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9792E4;
  color: white;
  font-weight: 600;
}
#benefits h2{
  color: white;
  text-align: center;
  font-size: 50px;
  padding-bottom: 55px;
}
#benefits .col .card h2{
  color: #9792E4;
  text-align: start;
  font-size: 50px;
  padding-bottom: 0;
  }

  /* #linkedin */
  #linkedin{
    padding-top: 90px;
    padding-bottom: 140px;
  }
  #linkedin .row{
    padding: 0 40px;
    gap: 90px;
  }
  #linkedin .col{
    width: calc(100% / 3);
  }
  #linkedin .col .card  h2{
    color: #9792e4;
    font-size: 60px;
    padding-bottom: 15px;
  }
  #linkedin .col .card.right{
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #linkedin .col .img{
    width: 240px;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    position: relative;
  }
  #linkedin .col .img img{
    height: 100%;
    width: 240px;
    border-radius: 100%;
    object-fit: cover;
  }
  #linkedin .card.right .img::before{
    content:'â' ;
    color: #9792E4;
    position: absolute;
    z-index: 11;
    font-size: 150px;
    top: -18%;
    right:0%;
  }
  .p-padding{
  padding-bottom: 60px;
  }
  #linkedin .card p{
    text-align: justify;
  }
  #linkedin .card.right p{
    color: #9792e4;
    font-size:30px ;
    font-weight:600 ;
    text-align: left;
    line-height: 1.2;
    padding-bottom: 20px;
  }
  #linkedin .card.right button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9792E4;
    gap: 10px;
    border-radius: 20px;
    padding: 10px 20px;
  }
  #get_started{
    background-color: #9792e4;
    text-align: center;
    padding: 50px 0;
    color: white;
  }
  .conteiner-small{
    width: 30%;
    margin: 0 auto;
  }
  .conteiner-small h2{
    padding-top: 5px;
    font-size: 45px;
  }
  .conteiner-small .h2_gold{
    padding-top: 10px;
  font-size: 80px;
  color: #FDC15F;
  }
  .conteiner-small p{
  padding: 0 50px;
  }
  .conteiner-small a{
    color:white;
  }
  .conteiner-small button{
    margin: 30px auto;
    padding: 28px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    color: #9792e4;
    border-radius: 40px;
  }
  footer .conteiner-small{
    width: 25%;
  }
  footer{
    background-color: #333333;
    padding: 40px 0 35px 0;
    text-align: center;
    color: white;
  }
  .conteiner-small p{
    padding-bottom: 60px;
  }
  .conteiner-small div{
    padding: 0 50px;
  }
  .conteiner-small a{
    color: #9792e4;
  }
  /* --/-- TABLET  -- \--  */
     /* da 0 a 992px  */

     @media screen and (max-width: 992px) {

      header .conteiner{
        width: 100%;
        padding: 0 30px;
      }
      header .btn-tm{
        display: block;
      }
      header nav{
        display: none;
      }
      .col.col-grow{
       width: 100%;
       flex-wrap: wrap;
      }
      .col-grow .card-grow-left{
        width: 100%;
      }
      .col-grow .wrapper-img{
        width: 100%;
        display: flex;
        justify-content: start;
      }
      .conteiner{ 
        width:90%;
        padding: 0 20px;

      }
      #partners .col{
        width: calc(100% / 1);
      }
      #partners .col .img{
       justify-content: center;
      }
      #partners .col .text{
        width: 100%;
      }
      #partners .col .text h2{
        font-size: 70px;
       }
       #partners .col .text p{
        font-size: 22px;
       }
       #partners .col .card.right{
        height: 100%;
       }
       #partners .col.right{
        margin-top: 30px;
     }
     #partners .col .card.right .img img{
      height: 100%;
      object-fit: cover;
     } 
     html,
     body{
       width:100%;
       overflow-x:hidden;
     }
     #expert_partners .card{
      gap: 15px;
     }
     #expert_partners .card .text{
      width: 65%;
     }
     #benefits .col{
      width: calc(100% / 2);
    }
    #linkedin .row{
      gap: 60px;
      padding: 0;
    }
    #linkedin  .col-grow{
       flex-grow: 1;
    }
    #linkedin .col-grow .card{
      padding: 0 20px;
    }
    #linkedin .col-grow .card h2{
       padding-bottom: 40px;
    }
    #linkedin .col-grow .card.right p{
       font-size: 20px;
    }
    #linkedin .col .card.right {
      padding: 0px 0px;
    }
    .conteiner-small{
      width: 80%;
    }
    footer .conteiner-small{
      width: 65%;
    }
    }
     /* --/-- MOBILE  -- \--  */
     /* da 0 a 768px  */

     @media screen and (max-width: 768px) {
     
     #partners .conteiner{
        width: 90%;
        padding: 0;
      }
      #intro .col{
        width:calc(100% / 1);
      }
      .col.col-grow{
        width: 100%;
        flex-wrap: wrap;
       }
       .col-grow .card-grow-left{
         width: 100%;
       }
       .card-grow-left{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .col-grow .wrapper-img{
         width: 100%;
         display: flex;
         justify-content: center;
         padding-top: 40px;
       }
       .col-grow .wrapper-img .img>img{
        object-fit: cover;
       }
       #partners .col .text h2{
        font-size: 30px;
        text-wrap: nowrap;
       }
       #partners .col.right{
        margin-top:40px ;
       }
       #partners .col .text p{
        font-size: 20px;
       }
       .btn-apple{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       #expert_partners .card{
        flex-wrap: wrap;
       }
       #expert_partners .card{
        justify-content: center;
       }
       #expert_partners .card .text.right{
        width: 100%;
        text-align: center;
       }
       #expert_partners h2.text{
        margin-top: 35px;
        font-size: 28px;
       }
       #benefits .col{
        width: calc(100% / 1);
      }
      #benefits h2{
        font-size: 35px;
      }
      #benefits .col .card h2{
        padding-bottom: 10px;
      }
      #linkedin .col{
        width: calc(100% / 1);
      }
      #linkedin .col .card.right {
        align-items: start;
      }
      #linkedin .col.col-grow h2{
        font-size: 40px;
      }
      .conteiner-small h2{
        font-size: 35px;
      }
      .conteiner-small .h2_gold{
      font-size: 60px;
      }
      .conteiner-small p{
        padding: 0 10px;
        }
        .conteiner-small button{
          padding: 20px 60px;
        }
        footer .conteiner-small{
          width: 85%;
        }
        footer .conteiner-small p{
          padding-bottom: 40px;
        }
    }
    